@font-face {
    font-family: 'PP Right Sans';
    src: url(../../assets/fonts/PPRightSans-Medium.otf);
}

.background-line {
    position: relative;
    padding-block: 6rem;
    background: #131313;
    background-image: url('../../assets/images/about-bg.png');
    background-repeat:round;
    font-size: 50px;
}

.about-title {
    font-family: 'PP Mori';
    font-style: italic;
    font-weight: 400;
    color: #D9D9D9;
    margin-right: 2rem;
    margin-left: 4rem;
}

@media only screen and (max-width: 650px) {
    .nav-list {
        display: none;
    }
    .about-title {
        margin-left: 1.5rem;
    }
    .background-line {
        margin-top: 3.5rem;
    }
}

@media only screen and (min-width: 850px) {
    .background-line {
        font-size: 90px;
    }
}

@media only screen and (min-width: 1200px) {
    .background-line {
        font-size: 180px;
    }
}

/* ANIMATIONS */

@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
100% {
    opacity: 1;
    transform: none;
}
} 

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.fadeInLeft2 {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}