.projects-text {
    display: flex;
    flex-flow: column wrap;
    align-items: end;
    padding: 4rem;
    gap:25px;
}

.projects-text p {
    max-width: 1000px;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}